<!DOCTYPE html>
<html lang="en" data-them="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>🐇 Bun ToDo= 🏃</title>
</head>
<body>
    <header>
        <hgroup>
            <h1>BunJS ToDo App Vs.1.0.4 </h1>
            <h2>Followed by (🐇+🥕= 🏃)</h2>
        </hgroup>
    </header>
    <main class="container">
        <form hx-post="/todos" hx-target="#todos" hx-ext="json-enc" _="on submit target.rest()">
            <label for="todo"> Bun ToDo App</label>
            <input id="todo" name="todo" type="text" aria-label="Create Bun Todo" placeholder="New Bun todo">
            <button type="submit"> Create Activity</button>
        </form>

        <section id="todos" hx-get="/todos" hx-trigger="load"></section>
    </main>  
</body>
</html>
